@media (min-width: 1080px) {
  .firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8vh;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
  }

  .chartContainer {
    width: 40vw;
    background-color: black;
    opacity: 0.9;
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
  }

  .pageTitle {
    font-size: 45px;
    z-index: 10;
  }
}

/* TABLET ONLY */

@media (min-width: 768px) and (max-width: 1079px) {
  .firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
  }

  .chartContainer {
    width: 90vw;
    background-color: black;
    opacity: 0.9;
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
  }

  .pageTitle {
    font-size: 40px;
    z-index: 10;
  }
}

/* MOBILE ONLY */

@media (max-width: 767px) {
  .firstContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .innerContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
  }

  .chartContainer {
    width: 90vw;
    background-color: black;
    opacity: 0.9;
    z-index: 10;
  }

  .pageTitle {
    font-size: 23px;
    z-index: 10;
  }
}
