.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: rgb(0, 0, 0);
  position: relative;
}

@media (max-width: 767px) {
  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navElements {
    position: absolute;
    left: 0;
    top: 60px;
    background-color: rgb(0, 0, 0);
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    white-space: nowrap;
    z-index: 10;
    max-height: 90vh;
  }

  .navElementsActive {
    width: 270px;
  }

  .navElements ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
