a {
  text-decoration: none;
  color: white;
}

.name:hover,
.artist:hover {
  text-decoration: underline;
}

.lottieContainer:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media (min-width: 1080px) {
  .listItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3vw 20px;
    width: 30vw;
    height: 2vh;
    margin: 10px;
    border-radius: 20px;
  }

  .artistContainer {
    display: flex;
    margin-left: 1vw;
  }

  .albumArt {
    height: 64px;
    width: 64px;
  }

  .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    font-size: 16px;
    margin-left: 1vw;
    margin-bottom: 3px;
  }

  .artist {
    font-size: 12px;
    margin-top: 0;
  }

  .lottieContainer {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lottie {
    width: 50px;
    margin-top: 7px;
  }
}

/* TABLET ONLY */

@media (min-width: 768px) and (max-width: 1079px) {
  .listItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 3vw 20px;
    width: 80vw;
    height: 2vh;
    margin: 10px;
    border-radius: 20px;
  }

  .artistContainer {
    display: flex;
    margin-left: 1.5vw;
  }

  .albumArt {
    height: 64px;
    width: 64px;
  }

  .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    font-size: 16px;
    margin-left: 1.5vw;
    margin-bottom: 3px;
  }

  .artist {
    font-size: 12px;
    margin-top: 0;
  }

  .lottieContainer {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lottie {
    width: 50px;
    margin-top: 7px;
  }
}

/* MOBILE ONLY */

@media (max-width: 767px) {
  .listItemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 3vw 13px;
    width: 80vw;
    height: 2vh;
    margin: 10px;
    border-radius: 20px;
  }

  .artistContainer {
    display: flex;
    margin-left: 2vw;
  }

  .albumArt {
    height: 40px;
    width: 40px;
  }

  .infoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .name {
    font-size: 14px;
    margin-left: 2vw;
    margin-bottom: 3px;
  }

  .artist {
    font-size: 10px;
    margin-top: 0;
  }

  .lottieContainer {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lottie {
    width: 50px;
    margin-top: 7px;
  }
}
