.listItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3vw 20px;
  width: 30vw;
  height: 2vh;
  margin: 10px;
  border-radius: 20px;
}

.artistContainer {
  display: flex;
  margin-left: 1vw;
}

.albumArt {
  height: 40px;
  width: 40px;
}

.infoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name {
  font-size: 14px;
  margin-left: 1vw;
  margin-bottom: 3px;
}

.artist {
  font-size: 10px;
  margin-top: 0;
}

.lottieContainer {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lottieContainer:hover {
  cursor: pointer;
  opacity: 0.7;
}

.lottie {
  width: 50px;
  margin-top: 7px;
}

a {
  text-decoration: none;
  color: white;
}

.name:hover,
.artist:hover {
  text-decoration: underline;
}
