.links {
  text-decoration: none;
  color: white;
}

@media (min-width: 1080px) {
  .loginBtn {
    user-select: none;
    color: #fff;
    background-color: #1db954;
    font-size: 14px;
    border-radius: 20px;
    padding: 18px 48px 16px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-family: "Heavy";
  }

  .loginBtn:hover {
    background-color: #169241;
  }

  .mainContainer {
    margin-top: 10.3vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .profileContainer {
    width: 6vw;
    display: flex;
    color: #fff;
    background-color: #1db954;
    font-size: 14px;
    border-radius: 20px;
    padding: 2px 16px 0px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-family: "Heavy";
    align-items: center;
  }

  .avatar {
    width: 1.5vw;
    vertical-align: middle;
    border-radius: 100%;
    margin-top: -2px;
  }

  .name {
    margin-left: 0.5vw;
  }

  .content {
    display: flex;
    width: 6vw;
    flex-direction: column;
    visibility: hidden;
    opacity: 1;
    list-style-type: none;
    margin: 0;
    background-color: black;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .spotifyProfile,
  .logout {
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .spotifyProfile:hover,
  .spotifyProfile:active {
    background-color: #1db954;
  }

  .logout:hover,
  .logout:active {
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .contentOpen {
    visibility: visible;
    opacity: 1;
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .profileContainerSelected {
    background-color: #169241;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* TABLET ONLY */

@media (min-width: 768px) and (max-width: 1079px) {
  .loginBtn {
    user-select: none;
    color: #fff;
    background-color: #1db954;
    font-size: 14px;
    border-radius: 20px;
    padding: 18px 48px 16px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-family: "Heavy";
  }

  .loginBtn:hover {
    background-color: #169241;
  }

  .mainContainer {
    margin-top: 7.7vh;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .profileContainer {
    width: 12.5vw;
    display: flex;
    color: #fff;
    background-color: #1db954;
    font-size: 14px;
    border-radius: 20px;
    padding: 2px 16px 0px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-family: "Heavy";
    align-items: center;
  }

  .avatar {
    width: 3vw;
    vertical-align: middle;
    border-radius: 100%;
    margin-top: -2px;
  }

  .name {
    margin-left: 0.5vw;
  }

  .content {
    display: flex;
    width: 6vw;
    flex-direction: column;
    visibility: hidden;
    opacity: 1;
    list-style-type: none;
    margin: 0;
    background-color: black;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .spotifyProfile,
  .logout {
    font-size: 13px;
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .spotifyProfile:hover,
  .spotifyProfile:active {
    background-color: #1db954;
  }

  .logout:hover,
  .logout:active {
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .contentOpen {
    visibility: visible;
    opacity: 1;
    margin: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .profileContainerSelected {
    background-color: #169241;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

/* MOBILE ONLY */

@media (max-width: 767px) {
  .mainContainer {
    margin-top: 0.5vh;
    width: 35vw;
    user-select: none;
  }

  .loginBtn {
    user-select: none;
    color: #fff;
    background-color: #1db954;
    font-size: 14px;
    border-radius: 20px;
    padding: 14px 20px 12px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-width: 0;
    width: 35vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-family: "Heavy";
  }

  .loginBtn:hover {
    background-color: #169241;
  }

  .name {
    margin: 2px 10px 0px;
  }

  .profileContainer {
    display: flex;
    color: #fff;
    background-color: #1db954;
    font-size: 14px;
    border-radius: 20px;
    padding: 10px 10px 10px;
    transition-property: background-color;
    transition-duration: 0.3s;
    border-width: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: normal;
    cursor: pointer;
    font-family: "Heavy";
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .spotifyProfile,
  .logout {
    font-size: 12px;
    width: 100%;
  }

  .spotifyProfile:active {
    background-color: #1db954;
  }

  .logout:active {
    background-color: red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .contentOpen {
    display: flex !important;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .profileContainerSelected {
    background-color: #169241;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .avatar {
    margin-left: 10px;
    max-width: 20%;
    height: auto;
    border-radius: 100%;
  }

  .content {
    text-align: center;
    display: none;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    background-color: black;
    position: absolute;
    width: 35vw;
    align-items: center;
    gap: 0;
    padding: 2px 0px 0px;
    opacity: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

@font-face {
  font-family: "Heavy";
  src: local("CircularBold"),
    url("../../assets/fonts/CircularBold.otf") format("truetype");
}
