.loginBtn {
  color: #fff;
  background-color: #1db954;
  font-size: 14px;
  border-radius: 500px;
  padding: 18px 48px 16px;
  transition-property: background-color;
  transition-duration: 0.3s;
  border-width: 0;
  letter-spacing: 2px;
  min-width: 160px;
  text-transform: uppercase;
  white-space: normal;
  cursor: pointer;
  font-family: "Heavy";
}

.loginBtn:hover {
  background-color: #169241;
}

@font-face {
  font-family: "Heavy";
  src: local("CircularBold"),
    url("../../assets/fonts/CircularBold.otf") format("truetype");
}
