:root {
  font-family: "Heavy";
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "Heavy";
  src: local("CircularBold"),
    url("../../assets/fonts/CircularBold.otf") format("truetype");
}
